@page "/course"
@using Blazorise
@using CourseProject.Model.BaseEntity
@using CourseProject.Model.ViewModel.Course
@using CourseProject.Services
@using CourseProject.Shared.ComponentBase
@using static CourseProject.Model.Enum.DataType
@inject ITagService _tagService;
@inject ICourseService _courseService;
@inherits AuthorBaseComponent

<div class="category-header-area" style="background-image: url('https://4user.net/uploads/system/course_page_banner.png'); background-size: cover; background-position: right;">
    <div class="image-placeholder-3"></div>
    <div class="container-lg breadcrumb-container row align-items-center">
        <nav class="col-auto" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item display-6 fw-bold">
                    <a @onclick='() => NavigateToUrl("/course")'>
                        Tất cả các khóa học
                    </a>
                </li>
                <li class="breadcrumb-item active text-light display-6 fw-bold">
                    Tất cả danh mục
                </li>
            </ol>
        </nav>
        <div class="col-3 ms-auto d-none d-sm-inline-block">
            <div class="book-img">
                <img src="https://4user.net/assets/frontend/default/img/brd-book.png">
            </div>
        </div>
    </div>
</div>

<div class="category-course-list-area">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-3 filter-area">
                <div class="card border-0 radius-10 box-shadow-5">
                    <div id="collapseFilter" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body p-0">
                            <div class="filter_type px-4">
                                <div class="form-group">
                                    <h5 class="fw-700 mb-3">Giá</h5>
                                    <ul>
                                        <li>
                                            <div class="">
                                                <input type="radio" id="price_all" name="price" class="prices custom-radio" value="4" @onclick="() => { searchCourseParam.TypeOfPurchase = null; SearchCourseByCondition(); }" checked>
                                                <label for="price_all">Tất cả</label>
                                            </div>
                                            <div class="">
                                                <input type="radio" id="price_free" name="price" class="prices custom-radio" value="0" @onclick="() => { searchCourseParam.TypeOfPurchase = TypeOfPurchase.Free; SearchCourseByCondition(); }">
                                                <label for="price_free">Miễn phí</label>
                                            </div>
                                            <div class="">
                                                <input type="radio" id="paid" name="price" class="prices custom-radio" value="1" @onclick="() => { searchCourseParam.TypeOfPurchase = TypeOfPurchase.Paid; SearchCourseByCondition(); }">
                                                <label for="price_free">Trả phí</label>
                                            </div>
                                            <div class="">
                                                <input type="radio" id="not-for-retail" name="price" class="prices custom-radio" value="2" @onclick="() => { searchCourseParam.TypeOfPurchase = TypeOfPurchase.NotForRetail; SearchCourseByCondition(); }">
                                                <label for="price_paid">Không bán lẻ</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <hr>
                            @* <div class="filter_type px-4">
                                <h5 class="fw-700 mb-3">Cấp độ</h5>
                                <ul>
                                    <li>
                                        <div class="">
                                            <input type="radio" id="all" class="level custom-radio" value="all" @onchange="() => OnTagSelected(null)">
                                                <label for="all">Tất cả</label>
                                            </div>
                                            @if (tagList != null && tagList.Count > 0)
                                            {
                                                for (int i = 0; i < tagList.Count; i++)
                                                {
                                                    var currentTag = tagList[i];
                                            
                                                    <div class="">
                                                        <input id="@currentTag.Id" type="radio" class="level custom-radio" value="@currentTag.Id" @onchange="(() => OnTagSelected(currentTag.Id.ToString()))" >
                                                        <label for="beginner">@currentTag.TagName</label>
                                                    </div>
                                                }
                                            }
                                    </li>
                                </ul>
                            </div> *@
                            <hr>
                            <hr>
                            <div class="filter_type px-4">
                                <h5 class="fw-700 mb-3">Xếp hạng</h5>
                                <ul>
                                    <li>
                                        <div class="">
                                            <input type="radio" id="all_rating" name="rating" class="ratings custom-radio" value="all" @onclick="() => { searchCourseParam.Rating = null; SearchCourseByCondition();}" checked="">
                                            <label for="all_rating">Tất cả</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <input type="radio" id="rating_1" name="rating" class="ratings custom-radio" value="1" @onclick="() => { searchCourseParam.Rating = 1; SearchCourseByCondition();}">
                                            <label for="rating_1">
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="far fa-star" style="color: #dedfe0;"></i>
                                                <i class="far fa-star" style="color: #dedfe0;"></i>
                                                <i class="far fa-star" style="color: #dedfe0;"></i>
                                                <i class="far fa-star" style="color: #dedfe0;"></i>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <input type="radio" id="rating_2" name="rating" class="ratings custom-radio" value="2" @onclick="() => { searchCourseParam.Rating = 2; SearchCourseByCondition();}">
                                            <label for="rating_2">
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="far fa-star" style="color: #dedfe0;"></i>
                                                <i class="far fa-star" style="color: #dedfe0;"></i>
                                                <i class="far fa-star" style="color: #dedfe0;"></i>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <input type="radio" id="rating_3" name="rating" class="ratings custom-radio" value="3" @onclick="() => { searchCourseParam.Rating = 3; SearchCourseByCondition();}">
                                            <label for="rating_3">
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="far fa-star" style="color: #dedfe0;"></i>
                                                <i class="far fa-star" style="color: #dedfe0;"></i>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <input type="radio" id="rating_4" name="rating" class="ratings custom-radio" value="4" @onclick="() => { searchCourseParam.Rating = 4; SearchCourseByCondition();}">
                                            <label for="rating_4">
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="far fa-star" style="color: #dedfe0;"></i>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <input type="radio" id="rating_5" name="rating" class="ratings custom-radio" value="5" @onclick="() => { searchCourseParam.Rating = 5; SearchCourseByCondition();}">
                                            <label for="rating_5">
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row category-filter-box mx-0 box-shadow-4">
                    <div class="col-md-6">
                        <!--<button class="btn py-1 px-2 mx-2 btn-light" onclick="toggleLayout('grid')"><i class="fas fa-th-large"></i></button>-->
                        <!--<button class="btn py-1 px-2 mx-2 btn-light" onclick="toggleLayout('list')"><i class="fas fa-list"></i></button>-->
                        @* <span class="text-12px fw-700 text-muted">Đang hiển thị 6 Of 14 Kết quả</span> *@
                        <span class="text-12px fw-700 text-muted">Đang hiển thị @(courseList != null ? courseList.Count : 0) Kết quả</span>
                    </div>
                    <div class="col-md-6 text-end filter-sort-by">
                        @* <span>Sắp xếp theo : </span>
                        <div class="dropdown d-inline-block">

                            <!-- hidden field of sorting value -->
                            <input id="sortByValue" type="hidden" name="sort_by" value="newest">
                            <Dropdown>
                                <DropdownToggleButton class="btn bg-background dropdown-toggle fw-bold text-capitalize">Mới nhất</DropdownToggleButton>
                                <DropdownMenu>
                                    <DropdownItem To="#" Type="ButtonType.Link">Mới nhất</DropdownItem>
                                    <DropdownItem To="#" Type="ButtonType.Link">Đánh giá cao nhất</DropdownItem>
                                    <DropdownItem To="#" Type="ButtonType.Link">Giá thấp nhất</DropdownItem>
                                    <DropdownItem To="#" Type="ButtonType.Link">Giá cao nhất</DropdownItem>
                                </DropdownMenu>
                            </Dropdown>
                        </div> *@
                    </div>
                </div>
                <div class="category-course-list">
                    <ul>
                        <li>
                            @if (courseList != null && courseList.Count >0)
                            {
                                for (int i = 0; i < courseList.Count; i++)
                                {
                                    var currentItem = courseList[i];
                                    <div class="course-box-2">
                                        <div class="course-image">
                                            <a @onclick="(() => NavigateToDetails(currentItem.Id))">
                                                <img src="@GetLinkImage(currentItem.ImgCourse)" alt="" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="course-details">
                                            <a class="course-title" @onclick="(() => NavigateToDetails(currentItem.Id))">@currentItem.CourseName</a>

                                            <div class="course-subtitle d-none d-md-block">
                                            </div>

                                            <div class="course-meta">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <span class="">
                                                            <i class="fas fa-play-circle"></i>
                                                            @currentItem.TotalLectures Bài học
                                                        </span>
                                                        <span class="">
                                                            <i class="far fa-clock"></i>
                                                            @currentItem.TotalHourTime Giờ
                                                        </span>
                                                        @* <span class=""><i class="fas fa-closed-captioning"></i>Tiếng anh</span> *@
                                                        <hr class="bg-white my-1">
                                                        @if(currentItem.TagList != null && currentItem.TagList.Count > 0)
                                                        {
                                                            for (int j = 0; j < currentItem.TagList.Count; j++)
                                                            {
                                                                var currentTag = currentItem.TagList[j];
                                                                <span class="badge badge-primary"><i class="fa fa-level-up"></i>@currentTag</span>
                                                            }
                                                        }
                                                        
                                                        @* <button class="btn-compare-sm" onclick="event.stopPropagation(); $(location).attr('href', 'https://4user.net/home/compare?course-1=practical-exam-prj&amp;&amp;course-id-1=83');"><i class="fas fa-retweet"></i>Compare</button> *@
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="floating-user d-inline-block">
                                                            <img src="@GetLinkImage(currentItem.ImgTeacher)" width="30px" data-bs-toggle="tooltip" data-bs-placement="top" title="">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="course-price-rating">
                                            <div class="course-price">
                                                <span class="current-price">₫@String.Format("{0:0,0}", currentItem.Price)</span>
                                            </div>
                                            <div class="rating">
                                                <i class="fas fa-star @(currentItem.Rating > 0 ? "filled":"")"></i>
                                                <i class="fas fa-star @(currentItem.Rating > 1 ? "filled":"")"></i>
                                                <i class="fas fa-star @(currentItem.Rating > 2 ? "filled":"")"></i>
                                                <i class="fas fa-star @(currentItem.Rating > 3 ? "filled":"")"></i>
                                                <i class="fas fa-star @(currentItem.Rating > 4 ? "filled":"")"></i>
                                                <span class="d-inline-block average-rating">@currentItem.Rating</span>
                                            </div>
                                            <div class="rating-number">
                                                @currentItem.TotalPerRating Xếp hạng
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </li>
                    </ul>
                </div>
               @*  <nav>
                    <ul class="pagination justify-content-center"><li class="page-item active disabled"> <span class="page-link">1</span></li><li class="page-item"><a @onclick='() => NavigateToUrl("/course")' data-ci-pagination-page="2">2</a></li><li class="page-item"><a href="https://4user.net/home/courses/12" data-ci-pagination-page="3">3</a></li><li class="page-item"><a href="https://4user.net/home/courses/6" data-ci-pagination-page="2" rel="next"><i class="fas fa-chevron-right"></i></a></li></ul>
                </nav> *@
            </div>
        </div>
    </div>
</div>
<script src="js/Page/Course/course.js"></script>

@code {
    private SearchCourseParam searchCourseParam { get; set; } = new SearchCourseParam();
    private List<CourseGeneric> courseList { get; set; }
    private List<Tag> tagList { get; set; }
    protected override async Task OnInitializedAsync()
    {
        // lấy danh sách tag
        tagList = await _tagService.GetAllTag();
        await SearchCourseByCondition();
        StateHasChanged();
    }

    private async Task SearchCourseByCondition()
    {
        if (searchCourseParam != null)
        {
            courseList = await _courseService.GetCourseSearchCourseByCondition(searchCourseParam);
            StateHasChanged();
        }
    }

    private bool IsCheckedTag(Guid? tagId)
    {
        return (searchCourseParam.TagId == null && tagId == null) || searchCourseParam.TagId == tagId;
    }

    private void OnTagSelected(string tagId)
    {
        // searchCourseParam.TagId = Guid.Parse(tagId);
    }

    private void NavigateToDetails(Guid detailId)
    {
        NavigateToUrl($"/course/details/{detailId}");
    }
}
