@page "/course/details/{id}"
@using CourseProject.Component
@using CourseProject.Model.BaseEntity
@using CourseProject.Model.ViewModel.Course
@using CourseProject.Services;
@using CourseProject.Shared.ComponentBase
@inject ICourseService _courseService;
@inherits AuthorBaseComponent

<link rel="stylesheet" href="css/Page/Course/courseDetail.css" />
<div class="course-header-area">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-lg-8">
        <div class="course-header-wrap">
          <h1 class="title">@courseMaster.CourseName</h1>
          <p class="subtitle"></p>
          <div class="rating-row">
            @if (@courseMaster.TagList != null && @courseMaster.TagList.Count > 0)
            {
                @foreach (var item in courseMaster.TagList)
                {
                    <span class="course-badge best-seller">@item</span>
                }     
            }
            
            <i class="fas fa-star @(courseMaster.Rating > 0 ? "filled":"")"></i>
            <i class="fas fa-star @(courseMaster.Rating > 1 ? "filled":"")"></i>
            <i class="fas fa-star @(courseMaster.Rating > 2 ? "filled":"")"></i>
            <i class="fas fa-star @(courseMaster.Rating > 3 ? "filled":"")"></i>
            <i class="fas fa-star @(courseMaster.Rating > 4 ? "filled":"")"></i>
            <span class="d-inline-block average-rating">@courseMaster.Rating</span><span>(@courseMaster.TotalPerRating Xếp hạng)</span>
            <!--<span class="enrolled-num">-->
            <!--  -->
            <!--</span>-->
            @* <span class="comment"><i class="fas fa-comment"></i>@courseMaster.lan</span> *@
          </div>
          <div class="created-row">
            <span class="created-by">
              Tạo bởi <a class="text-14px fw-600 text-decoration-none" href="">@courseMaster.TeacherName</a>
            </span>
            <br>
            <span class="last-updated-date d-inline-block mt-2">Cập nhật lần cuối @courseMaster.ModifiedDate</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</div>

<div class="course-content-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 order-last order-lg-first radius-10 mt-4 bg-white p-30-40 box-shadow-5">
        <div class="row bg-white d-flex justify-content-center">
          <ul class="nav nav-tabs sNav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="summary-tab" data-bs-toggle="tab"
                data-bs-target="#course-curriculum-box" type="button" role="tab" aria-controls="course-curriculum-box"
                aria-selected="false">Chương trình giảng dạy</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="summary-tab" data-bs-toggle="tab" data-bs-target="#description-box"
                type="button" role="tab" aria-controls="home" aria-selected="true">Tổng quan khóa học</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="author-tab" data-bs-toggle="tab" data-bs-target="#author" type="button"
                role="tab" aria-controls="author" aria-selected="false">Giảng viên</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="false">Đánh giá</button>
            </li>
          </ul>
          <div class="tab-content mt-4" id="myTabContent">
            <div class="tab-pane fade" id="description-box" role="tabpanel" aria-labelledby="author-tab">
              <div class="description-box view-more-parent">
                <div class="description-content-wrap">
                  <div class="description-content">

                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade active show" id="course-curriculum-box" role="tabpanel"
              aria-labelledby="course-curriculum-box">
              <div class="course-curriculum-box">
                <div class="course-curriculum-title clearfix mb-3">
                  <div class="title float-start">Chương trình giảng dạy của khóa học này</div>
                  <div class="float-end mt-2">
                    <span class="total-lectures course-badge best-seller">
                      @courseMaster.TotalLectures Bài học </span>
                  </div>
                </div>
                <div class="course-curriculum-accordion">
                    @if (courseDetailList != null && courseDetailList.Count > 0)
                    {
                        @for (int i = 0; i < courseDetailList.Count; i++)
                        {
                            var chapterItem = courseDetailList[i];
                            var currentIndex = i;
                            <div class="lecture-group-wrapper">
                                <div class="lecture-group-title clearfix" style="border-radius: 10px 10px 0px 0px;" aria-expanded="false" @onclick="async() => await ShowHideContentLession(currentIndex)">
                                      <div class="title float-start">
                                        @chapterItem.ChapterName 
                                      </div>
                                      <div class="float-end">
                                        <span class="total-lectures">
                                          @(chapterItem.LessionDetailList != null ? chapterItem.LessionDetailList.Count() : 0) Bài học </span>
                                    </div>
                                    
                                </div>   
                                <div class="list-lession" style="display: none;">
                                    @if (chapterItem.LessionDetailList != null && chapterItem.LessionDetailList.Count() > 0)
                                    {
                                        @for (int j = 0; j < chapterItem.LessionDetailList.Count(); j++)
                                        {
                                            var lessionItem = chapterItem.LessionDetailList[j];

                                            <div class="lecture-list show" @onclick="() => OnShowModalVideoClick(lessionItem.LessionName, lessionItem.VideoLink)">
                                                <ul>
                                                    <li class="lecture has-preview text-14px ">
                                                        <i class="far fa-file-alt"></i>
                                                        <span class="lecture-title " onclick="go_course_playing_page('34', '244')">@lessionItem.LessionName</span>
                                                        <div class="lecture-info float-lg-end">
                                                            @* <span class="lecture-preview"
                                            onclick="lesson_preview('https://4user.net/home/preview_free_lesson/314', 'Bài học: Introduction to Client Server')">
                                            <i class="fas fa-eye"></i>
                                            Xem trước </span> *@
                                                            <span class="lecture-time ps-2">
                                                                @lessionItem.TotalHourTimeLession
                                                            </span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="author" role="tabpanel" aria-labelledby="author-tab">
              <div class="about-instructor-box">
                <div class="about-instructor-title">
                  Giới thiệu về giảng viên </div>
                <div class="row justify-content-center">
                  <div class="col-md-4 top-instructor-img w-sm-100">
                    <a href="">
                      <img class="radius-10"
                        src="@GetLinkImage(courseMaster.ImgTeacher)"
                        width="100%">
                    </a>
                  </div>
                  <div class="col-md-8 py-0 px-3 text-center text-md-start">
                    <h4 class="mb-1 fw-600 v"><a class="text-decoration-none"
                        href="">@courseMaster.TeacherName</a></h4>
                    <p class="fw-500 text-14px w-100"></p>
                    <div class="rating">
                      <div class="d-inline-block mb-2">
                        <span class="text-dark fw-800 text-14px text-muted">
                          @courseMaster.CourseOfTeacher Khóa học và Bài tập </span>
                      </div>
                    </div>
                    <span class="badge badge-sub-warning text-12px my-1 py-2"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 order-first order-lg-last">
        <div class="course-sidebar box-shadow-5 natural">
          <div class="course-sidebar-text-box">
            <div class="price text-center">
              <span class="current-price"><span class="current-price">₫@courseMaster.Price</span></span>
            </div>

            <!-- WISHLIST BUTTON -->
            <div class="buy-btns">
              <button class="btn btn-add-wishlist " type="button" id="34" onclick="handleAddToWishlist(this)">
                Thêm vào danh sách yêu thích </button>
            </div>

            <div class="buy-btns">
              <button class="btn btn-buy-now" type="button" id="34" onclick="handleCartItems(this)">Thêm vào giỏ hàng</button>

              <button class="btn btn-buy" type="button" id="course_34" onclick="handleBuyNow(this)">Mua ngay</button>
            </div>

            <div class="includes mt-3">
              <div class="title">
                  <b>Bao gồm:</b>
              </div>
              <ul>
                <li>
                    <i class="far fa-file-video"></i>
                    @courseMaster.TotalHourTime Giờ Video theo yêu cầu 
                </li>
                <li>
                    <i class="far fa-file"></i>@courseMaster.TotalLectures Bài học
                </li>
                <li class="text-center pt-3">
                  <a class="badge-sub-warning text-decoration-none fw-600 hover-shadow-1 d-inline-block"
                    href="https://4user.net/home/compare?course-1=l%E1%BA%ADp-tr%C3%ACnh-java-web-prj301&amp;&amp;course-id-1=34"><i
                      class="fas fa-balance-scale"></i> So sánh khóa học này với khóa học khác</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="course-carousel-area">
  <div class="container">
    <div class="row">
      <div class="col mt-5">
        <h3 class="course-carousel-title">
          <span class="header-underline-2">Top 10 Khóa học mới nhất</span></h3>
            @if (listNewCourse != null && listNewCourse.Count > 0)
            {
                <SlickCarouse>
                    <Content>
                        @for (int i = 0; i < listNewCourse.Count; i++)
                        {
                            var currentItem = listNewCourse[i];
                            <div style="width: 221px;" aria-hidden="true" @onclick="(() => NavigateToDetails(currentItem.Id))">
                                <a onclick="return check_action(this);" class="has-popover" tabindex="-1">
                                    <div class="course-box">
                                        <div class="course-image">
                                            <!-- course price -->
                                            <p class="price text-right d-inline-block float-end">@currentItem.Price</p>
                                            <img src="@GetLinkImage(currentItem.ImgCourse)" alt="" class="img-fluid">
                                        </div>
                                        <div class="course-details">
                                            <div class="row mb-3">
                                                @if (currentItem.TagList != null && currentItem.TagList.Count > 0)
                                                {
                                                    for (int j = 0; j < currentItem.TagList.Count; j++)
                                                    {
                                                        var currentTag = currentItem.TagList[j];
                                                        <div class="col-12">
                                                            <span class="badge badge-primary text-11px">@currentTag</span>
                                                        </div>
                                                    }
                                                }
                                            </div>

                                            <h5 class="title">@currentItem.CourseName</h5>
                                            <div class="rating">
                                                <i class="fas fa-star @(currentItem.Rating > 0 ? "filled":"")"></i>
                                                <i class="fas fa-star @(currentItem.Rating > 1 ? "filled":"")"></i>
                                                <i class="fas fa-star @(currentItem.Rating > 2 ? "filled":"")"></i>
                                                <i class="fas fa-star @(currentItem.Rating > 3 ? "filled":"")"></i>
                                                <i class="fas fa-star @(currentItem.Rating > 4 ? "filled":"")"></i>
                                                <div class="d-inline-block">
                                                    <span class="text-dark ms-1 text-12px">(@currentItem.Rating)</span>
                                                    <span class="text-dark text-12px text-muted ms-2">(@currentItem.TotalPerRating Đánh giá)</span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    <div class="floating-user d-inline-block">
                                                        <img src="@GetLinkImage(currentItem.ImgTeacher)" width="30px" data-bs-toggle="tooltip" data-bs-placement="top" title="" onclick="return check_action(this,'https://4user.net/home/instructor_page/92');" data-bs-original-title="FLOWteam " aria-label="FLOWteam ">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <button class="btn-compare-sm float-end" onclick="return check_action(this, 'https://4user.net/home/compare?course-1=pro192-java-core-java-oop&amp;&amp;course-id-1=41');" tabindex="-1"><i class="fas fa-retweet"></i>Compare</button>
                                                </div>
                                            </div>

                                            <div class="w-100 d-flex text-dark border-top py-1">
                                                <div class="">
                                                    <i class="text-danger far fa-clock text-14px"></i>
                                                    <span class="text-muted text-12px">@currentItem.TotalHourTime Giờ</span>
                                                </div>
                                                <div class="ms-auto">
                                                    <i class="text-primary far fa-list-alt text-14px"></i>
                                                    <span class="text-muted text-12px">@currentItem.TotalLectures Lectures</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </a>

                                <div class="webui-popover-content">
                                    <div class="course-popover-content">
                                        <div class="last-updated">Cập nhật lần cuối @currentItem.ModifiedDate</div>

                                        <div class="course-title" @onclick="(() => NavigateToDetails(currentItem.Id))">
                                            <a class="text-decoration-none text-15px" tabindex="-1">@currentItem.CourseName</a>
                                        </div>
                                        <div class="course-meta">
                                            <span class="">
                                                <i class="fas fa-play-circle"></i>
                                                @currentItem.TotalLectures Bài học
                                            </span>
                                            <span class="">
                                                <i class="far fa-clock"></i>
                                                @currentItem.TotalHourTime Giờ
                                            </span>
                                            <span class=""><i class="fas fa-closed-captioning"></i>Vietnamese</span>
                                        </div>
                                        <div class="course-subtitle">@currentItem.Description</div>
                                        <div class="what-will-learn">
                                            @currentItem.BenefitsOfCourse
                                        </div>
                                        <div class="popover-btns">
                                            <button type="button" class="btn red add-to-cart-btn  big-cart-button-41" id="" onclick="handleCartItems(this)" tabindex="-1">
                                                Thêm vào giỏ hàng
                                            </button>
                                            <button type="button" class="wishlist-btn " title="Add to wishlist" onclick="handleWishList(this)" id="" tabindex="-1"><i class="fas fa-heart"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </Content>
                </SlickCarouse>
            }
      </div>
    </div>
  </div>
</div>

<Modal @ref="modal" Size="ModalSize.Large" Title="@titleLession">
    <BodyTemplate>
        <VideoPlayer @key="videoPlayerKey" UrlVideo="@urlVideoLession">
        </VideoPlayer>
    </BodyTemplate>
</Modal>

<script src="js/Page/Course/courseDetail.js"></script>
@code {
    [Parameter]
    public string Id { get; set;}
    private List<CourseGeneric> listNewCourse { get; set; }
    private CourseGeneric courseMaster { get; set; } = new CourseGeneric();
    private List<ChapterDetail> courseDetailList { get; set; } = new List<ChapterDetail>();
    private Modal modal = default!;

    private string titleLession { get; set; }
    private string urlVideoLession { get; set; }
    private int videoPlayerKey = 0;

    protected override async Task HandleAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (!string.IsNullOrEmpty(Id) && Guid.TryParse(Id, out Guid courseId))
            {
                var courseDetail = await _courseService.GetDetailCourse(courseId);
                if (courseDetail != null)
                {
                    courseMaster = courseDetail.CourseMaster ?? courseMaster;
                    if (courseDetail.CourseDetailList != null)
                    {
                        courseDetailList = courseDetail.CourseDetailList.ToList();
                    }

                    StateHasChanged();
                }

                listNewCourse = await _courseService.GetTop10NewCourse();
                StateHasChanged();
            }
        }

    }

    private void NavigateToDetails(Guid detailId)
    {
        NavigateToUrl($"/course/details/{detailId}");
    }

    private async Task ShowHideContentLession(int indexChap)
    {
        await InvokeVoidAsync("handleShowHideContentLession", indexChap);

    }

    private async Task OnShowModalVideoClick(string titleLessionItem, string urlVideoLessionItem)
    {
        if (!string.IsNullOrEmpty(urlVideoLessionItem))
        {
            // titleLession = titleLessionItem;
            urlVideoLession = urlVideoLessionItem;
            videoPlayerKey++;
            StateHasChanged();
            modal.Title = titleLessionItem;
            await modal.ShowAsync();
        }
    }

    // private async Task DisposeModal()
    // {
    //     // Dispose modal
    //     modal.Dispose();
    //     modal = default!;
    // }
}